<% provide(:title, "このサイトについて") %>
<h1>このサイトについて</h1>
<p>
勤怠管理システムへようこそ！
</p>
<p>初めてのログインの場合は新規登録画面よりメールアドレスと名前、所属、パスワードを登録してください。</p>
<p>不具合が発生した場合は管理者へ問い合わせしてください。</p>
<p>まだ登録がお済でなければ<%= link_to "こちらから新規登録", signup_path%>できます。</p>