<% provide(:title, "このサイトについて") %>
<h1>このサイトについて</h1>
<p>
We Love Coffee へようこそ！
</p>
<p>このサイトはCoffeeにちょっと興味がある方からコアな方まで
皆さんのコミュニティーを広げて奥深いCoffeeの世界を広げてもらうサイトになっております。</p>
<p>おいしい喫茶店を共有したり好みの豆を共有していきましょう！</p>