<% provide(:title, '管理人紹介') %>

<h1>管理人紹介</h1>
<h2><%= image_tag 'hiroki.jpg' %></h2>

<h3><br><a href="https://www.facebook.com/hiroki.suganuma" target="_blank" >菅沼大樹（すがぬまひろき）</a></br>
<br>1989年7月11日生まれ</br>
<br>猫とコーヒーをこよなく愛しています。</br>
<br>2014年から2018年まで東京の整骨院グループにて働いておりましたが</br>
<br>一念発起しIT業界で仕事をするため独学にてプログラミングを勉強しております。</br></h3>