<h1>We Love Coffeeへようこそ！</h1>

<p>初めまして<%= @user.name %>様</p>

<p>
このメールはWe Love Coffeeに新規登録された方へ送らせていていただいております。
下記のメッセージから改めてサイトにアクセスいただくと正式に登録が完了いたします。
</p>

<%= link_to "こちらから改めてサイトにアクセスしてください", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>