<% provide(:title, 'ユーザー一覧') %>
<h3>ユーザー一覧</h3>

<%= will_paginate %>

<%if current_user.try(:admin?)%>
<ul class="users">
  <%= render @users %>
</ul>
<% else %>
<ul class="users">
  <%= render current_user %>
</ul>
 
<%end%>


<%= will_paginate %>