<footer class="footer">
  <small>
   Create by <a href="https://www.facebook.com/hiroki.suganuma" target="_blank" >hiroki suganuma</a>
  </small>
    <ul>
      <li><%= link_to "このサイトについて",about_path %></li>
      <li><%= link_to "管理人の紹介",contact_path %></li>
      </ul>
</footer>